table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

td.cell {
    color:aliceblue;
    border-style: solid;
    border-width: 2px;
    text-align: center;
    font-weight: bold;
    vertical-align: center;
    height: 50px;
    width: 50px;
}

td.character {
    background-color: rgb(0, 0, 0);
    cursor: pointer;
}

td.treasure {
    background-color: purple;
    color: white;
    cursor: pointer;
    border-color: black;
}

